/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/roboto-v20-cyrillic_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-cyrillic_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/roboto-v20-cyrillic_latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-cyrillic_latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('../fonts/roboto-v20-cyrillic_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v20-cyrillic_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.feedback, .user-nav__item--search, .form__login, .basket__list, .basket__fin {
  display: none;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/promo-2.png");
}

.site-wrapper::after {
  background-image: url("../img/promo-3.png");
}

.slider-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/promo-1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/promo-2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/promo-3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.container {
  width: 1146px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-nav__list, .sub-nav, .user-nav, .products__list, .advantages__list, .social__list, .about-us__list, .pagination, .breadcrumbs-list, .form__filter-list, .pagination__list {
  list-style: none;
  padding-left: 0;
}

.copyright a, .about-us a, .products__link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.blog, .advantages, .rss, .actions__item, .rss-wrapper, .contacts {
  border-radius: 15px;
}

.btn {
  /*! display: inline-block; */
  padding: 12px 44px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  /*! vertical-align: top; */
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0px 2px 2px 0px #ac1000;
}

.btn:active {
  background: linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px #ac1000;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.logo {
  margin-right: 10px;
}

.main-nav {
  width: 990px;
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
}

.main-nav__list {
  width: 385px;
  display: flex;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
}

.main-nav__item > a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 16px;
  text-decoration: none;
}

.main-nav__item > a:active{
  background-color: rgba(234, 234, 234, 1);
  box-shadow: inset 0px 2px 1px 0px rgb(105, 105, 105);
}

.main-nav__link {
  color: #ffffff;
  text-decoration: none;
  padding: 7px 14px;
}

.main-nav__link--active {
  background-color: #d07058;
  border-radius: 16px;
}

.main-nav__link span {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.main-nav__item {
  position: relative;
}

.sub-nav {
  display: none;
  position: absolute;
  top: 30px;
  left: -5px;
  z-index: 1;
  min-width: 143px;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color:#f8f7f4;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.main-nav__list > li:hover .sub-nav {
  display: block;
}

.sub-nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 6px;
  padding-left: 20px;
  text-decoration: none;
  color: #323232;
}

.sub-nav__item:hover {
  background-color: rgba(208, 112, 88, 0.3);
}

.sub-nav__item:active {
  background-color: rgba(208, 112, 88, 0.6);
}

.user-nav-wrapper {
  display: flex;
  flex-direction: column;
}

.user-nav {
  width: 270px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: -6px;
}

.user-nav__item {
  margin-left: 10px;
}

.user-nav__link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  background-color: rgba(255,255,255,0.3);
  border-radius: 23px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 43px;
  padding-right: 33px;
  line-height: 16px;
  font-size: 14px;
}

.user-nav__link--login {
  padding-left: 33px;
}

.user-nav__item > a:hover {
  background-color: #f7f6f3;
  color: #323232;
}

.user-nav input[type="text"], .form__login input[type="email"], input[type="password"], .feedback-form input[type="text"], input[type="email"]  {
  padding: 10px 13px;
  font: inherit;
  color: #323232;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.shop-info {
  width: 170px;
  float: right;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  margin-top: -3px;
}

.shop-info__phone {
  display: block;
  margin-top: 4px;
  font-size: 22px;
  line-height: 24px;
}

.shop-info__phone a {
  color: #ffffff;
  text-decoration: none;
}

.promo {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slide {
  display: none;
}

.promo__title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-top: -55px;
  margin-bottom: 40px;
}

.promo__btn {
  padding-top: 14px;
  padding-bottom: 14px;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.actions a {
  color: #ffffff;
  text-decoration: none;
}

.actions__item {
  width: 560px;
}

.actions__item--berries {
  background-color: #600001;
  background-image: url("../img/bg-malina.jpg");
}

.actions__item--choko {
  background-color: #3a2015;
  background-image: url("../img/bg-choko.jpg");
}

.actions__title {
  font-size: 35px;
  line-height: 41px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 16px;
  margin-bottom: 0;
}

.actions__descr {
  width: 515px;
  font-size: 18px;
  line-height: 22px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0px;
}

.actions__btn {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 45px;
  padding-top: 10px;
  padding-right: 23px;
  padding-bottom: 12px;
  padding-left: 23px;
}

.products {
  margin-top: 40px;
}

.products a {
  color: #ffffff;
  text-decoration: none;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.products__item {
  width: 267px;
  position: relative;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 34px;
}

.products__item::after {
  position: absolute;
  content: '';
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
}

.products img {
  border-radius: 50%;
  margin-bottom: 9px;
}

.products__descr {
  margin: 0;
  position: absolute;
  bottom: 65px;
  z-index: 9;
}

.products__price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
}

.products__size {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  margin-left: -7px;
}

.products__link {
  font-weight: 500;
  width: 240px;
}

.products__more {
  position: absolute;
  bottom: -55px;
  left: 30px;
  display: none;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}

.products__item:hover > .products__more,
.products__item:focus > .products__more{
  display: block;

}

/*.products__item:hover {
  background-color: rgba(248, 247, 244, 0.2);
  padding-bottom: 83px;
}/*

/*.products__item:hover .products__more {
  background-color: rgba(255,255,255,0.1);
  display: block;
  position: absolute;
}*/

.products__item:hover::after,
.products__item:focus::after{
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  z-index: 7;
}

.products__item:hover,
.products__item:focus{
  z-index: 10;
}


.advantages {
  color: #323232;
  background-color: #eadbbd;
  background-image: url("../img/bg-waffle.jpg");
  margin-top: 3px;
}

.advantages__title {
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding-left: 22px;
  padding-top: 26px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 22px;
  padding-left: 22px;
  padding-right: 34px;
}

.advantages__list-item {
  width: 540px;
  padding-bottom: 30px;
  /*padding-right: 13px;
  padding-left: 12px;*/
}

.blog-rss-wrapper {
  display: flex;
  justify-content: space-between;
}

.blog {
  color: #323232;
  background-color: #ffffff;
  background-image: url("../img/bg-news.jpg");
  background-position: 70% 30%;
  width: 560px;
}

.blog__title  {
  font-size: 16px;
  line-height: 22px;
  margin-top: 24px;
  margin-bottom: 3px;
  padding-left: 20px;
}

.blog__descr {
  width: 285px;
  display: inline-block;
  padding-left: 20px;
  padding-bottom: 80px;
}

.blog a {
  color: #323232;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.rss {
  background-image: url("../img/bg-rss.png");
  padding: 5px;
  width: 560px;
  box-sizing: border-box;
}

.rss-wrapper {
  background: #f8f7f4;
  color: #323232;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 550px;
  box-sizing: border-box;
}

.rss__descr {
  padding-top: 10px;
  padding-left: 13px;
}

.rss input[type="email"] {
  font: inherit;
  color: #999999;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px 13px;
  padding-right: 23px;
  width: 330px;
  margin-left: 11px;
  margin-top: 21px;
}

.rss__btn {
  width: 130px;
  font-size: 18px;
  line-height: 24px;
  padding-left: 17px;
  margin-left: 9px;
  margin-bottom: 35px;
}

.map {
  position: relative;
  margin-top: 37px;
}

.map__img img {
  /*width: 100%;*/
  display: block;
  margin: 0 auto;
}

.container-contacts {
  position: relative;
}

.contacts {
  background-color: #fdfefe;
  color: #323232;
  /*width: 300px;*/
  position: absolute;
  bottom: 50px;
  right: 380px;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 14px;
  line-height: 20px;
}

.contacts__address {
  font-size: 14px;
  line-height: 20px;
  width: 150px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts__address--bold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: block;
  width: 225px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacts__phone {
  margin-bottom: 30px;
}

.contacts__link {
  color: #323232;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
}

.contacts__btn {
  margin-top: 25px;
  padding: 10px 27px;
  font-size: 18px;
  line-height: 24px;
}

.footer {
  width: 1146px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.social {
  width: 267px;
  margin-top: 35px;
  margin-bottom: 30px;
}

.social__list {
  display: flex;
  flex-direction: row;
}

.about-us {
  width: 380px;
  margin-top: 22px;
  display: flex;
  font-size: 13px;
  line-height: 18px;
}

.about-us-col-left {
  width: 145px;
}

.about-us-col-right {
  width: 175px;
}

.copyright {
  width: 190px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

.copyright p {
  margin: 0;
}

.breadcrumbs-list {
  display: flex;
}

.pagination__list {
  display: flex;
  width: 190px;
  margin-left: auto;
}

.pagination__item {
  padding-right: 10px;
  padding-left: 10px;
}

.pagination__item a {
  text-decoration: none;
  color: #ffffff;
}


